@{
  Layout = "_Layout";
}

@model BlockbusterResurrected.Models.GConsole;

<h1>Edit console</h1>
<h4>Editing: @Html.DisplayFor(model => model.GConsoleName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GConsoleId)

  @Html.LabelFor(model => model.GConsoleName)
  @Html.EditorFor(model => model.GConsoleName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list of consoles", "Index")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>